body {
    background-color: lightblue;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 2px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

button {
  margin-top: 5px;
}

.cats,
.dogs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerText {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  line-height: normal;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

